.dialogs {

    display: grid;

    grid-template-areas:
    "dialogsItems messageList";

    grid-template-columns: 150px 300px;

}

.dialogsItems {
    padding: 10px;
    grid-area: dialogsItems;
}

.messageList {
    grid-area: messageList;

}
