
.SiteWrapper {
  display: grid;

  grid-template-areas:
    "header header"
    "sitebar  content"
    "footer footer";



  grid-template-columns: 160px 800px;
  grid-template-rows: 100px 500px 100px;

  justify-content: center;

  grid-gap: 10px;


}


.AppContentWrapper{
  grid-area: content;
  background-color: rgb(237, 238, 240);
  border: 4px double black; /* Параметры границы */


}

/*

<Photo/>
       <ProfileInfo/>
                    <AllPhotos/>
                               <CreatePost/>
                                           <MyPosts/>
                                                    <Friends/>
                                                             <Groups/>
                                                                     <Music/>

*/



